/* h1{
    color: purple;
    background-color: navy blue;
}
app-login, app-profile, app-logout{
    display: block;
    margin: 10px 0;
    background-color: lightgray;
    vertical-align: middle;
    color: black;
} */


/* .div1{
    background-color: red;
    height: 100px;
    width: 100px;
}
.div2{
    background-color: blue;
    height: 100px;
    width: 100px;
} */