<!-- Property Binding Example -->

<!-- <h1>{{ name }}</h1> -->

<!-- Component Communication Example -->

<!-- <app-login></app-login>
<app-profile></app-profile>
<app-logout></app-logout> -->

<!-- Model Binding Example -->

<!-- <button (click)="Callme()">Click me</button>


 <button (click)="Counter('increment')">Increment</button>
 <button (click)="Counter('decrement')">Decrement</button>
 <p>Count: {{ count }}</p> -->

<!-- <h1>Event Handling</h1> -->
<!-- Input Type Event Example -->
<!-- <input type="text" (input)="onInput($event)" placeholder="Enter your name">
 <p>Hello, {{ name }}!</p> -->

<!-- handleInput(event: Event) {
    const inputElement = event.target as HTMLInputElement;
    this.name = inputElement.value;
  } -->

<!-- Input Type Event Example of Datatype of Event
  1. (input)="handleInput($event.type)" - This will pass the type of the event (e.g., "input") to the handleInput method. -->
<!-- <input type="text" (input)="handleInput($event.type)"> -->

<!-- 2.  (change)="handleInput($event.type)" - This will pass the type of the event (e.g., "change") to the handleInput method. -->
<!-- <input type="text" (change)="handleInput($event.type)"> -->

<!-- 3. (blur)="handleInput($event.type)" - This will pass the type of the event (e.g., "blur") to the handleInput method when the input field loses focus.    -->
<!-- <input type="text" (blur)="handleInput($event.type)"> -->

<!-- 4.  (focus)="handleInput($event.type)" - This will pass the type of the event (e.g., "focus") to the handleInput method when the input field gains focus. -->
<!-- <input type="text" (focus)="handleInput($event.type)">  -->

<!-- 5.  (click)="handleInput($event.type)" - This will pass the type of the event (e.g., "click") to the handleInput method. -->

<!-- <button (click)="handleInput($event.type)">Click Me</button> -->

<!-- 6. Select Dropdown Example of Datatype of Event
  1. (change)="handleInput($event.type)" - This will pass the type of the event (e.g., "change") to the handleInput method when the selected option changes. -->
<!-- <select (change)="handleInput($event.type)">
  <option value="option1" (change)="handleInput($event.type)">Flight</option>
  <option value="option2" (change)="handleInput($event.type)">Train</option>
  <option value="option3" (change)="handleInput($event.type)">Car</option>
  <option value="option4" (change)="handleInput($event.type)">Bike</option>
</select> -->

<!-- Div Event Handling Example -->
<!-- This will pass the type of the event (e.g., "mouseenter") to the handleInput method when the mouse pointer enters the div element.  -->

<!-- <div (mouseenter)="handleInput($event.type)" class="div1"></div> -->

<!-- This will pass the type of the event (e.g., "mouseleave") to the handleInput method when the mouse pointer leaves the div element.    -->

<!-- <div (mouseleave)="handleInput($event.type)" class="div2"></div> -->

<!-- <h1> Data Type </h1> -->
<!-- Number with String Example -->
<!-- <h2> {{ data }} </h2> -->
<!-- <button (click)="updateData(200,'Kalpesh')" > Update Value </button> -->
<!-- Click Data Type Example -->
<!-- <button (click)="handleEvent($event)" > Click </button> -->
<!-- Same but Extra Function Call Example -->
<!-- <button (click)="handleEvent2($event)" > Click </button> -->

<!-- Input Data Type Event Example -->
<!-- <input type="text" (change)="handleEvent($event)"> -->

<!-- Div Data Type Event Example -->
<!-- <div (mouseenter)="handleEvent($event)" class="div1">
    <h1> Mouse Enter </h1>
</div> -->

<!-- <h1>Property Binding</h1>
<button disabled="{{btnDisable}}">Click Me</button>
<button [disabled]="btnDisable">Click Me</button>
<button (click)="toggle()">Toggle</button>
<img [src]="url" width="100">  -->

<!-- <h1>Signal Example</h1>

<h2> {{ data }} </h2>
<button (click)="updateData()" > Update data </button>

<h2> {{ count() }} </h2>
<button (click)="updatecount()" > Update count </button> -->

<!-- <h1>Computed Signal Example</h1>

<h2>Area: {{ area() }}</h2>
<button (click)="handleHeightChange()">Increase Height</button> -->

<!-- Effect Example in Angular -->
<!-- <h1>Effect Example in Angular</h1>
<h2 [style.color]="color">{{ speed() }}</h2>
<button (click)="increaseSpeed()">Increase Speed</button>

<hr>
<h1> Fruit Example </h1>
<h2>{{ Fruit() }}</h2>
<button (click)="changeFruit()">Change Fruit</button> -->

<!-- Signal with WritableSignal and Computed Signal Example -->

<!-- <h1>Signals Data type</h1>
<button (click)="handleData()">Update User</button>
<button (click)="handledata()">Update Data</button> -->

<!-- Counter Application Example -->

<!-- <div class="counter-app">
  <h1>Counter App</h1>
  <div>
    {{ counter() }}
  </div>
  <div>
    <button (click)="increment()">Increment</button>
    <button (click)="reset()">Reset</button>
    <button (click)="decrement()">Decrement</button>
  </div>
</div> -->

<!-- <p>Value: {{ name() }}</p>
<input type="text" [value]="name()" (input)="setValue($event.target.value)">
<button (click)="resetValue()">Reset Value</button> -->

<!-- <h1 class="headingclass"><button class="btn btn-primary"> Login </button> Styles in Angular</h1>
<app-admin-data></app-admin-data>
<app-user-data></app-user-data>


<div style="border: 5px solid brown;">
  Hello Angular User
</div>

<h2 class="heading2">Hello Kalpesh</h2> -->

<!-- Simple Login Logout Functionality -->

<!-- <h1>Login Logout Function</h1>
<div>
  @if (isLogin()) {
    <span> Welcome, User </span>
    <button (click)="handleLogin(false)">Logout</button>
  } @else {
    <span> Please Login </span>
    <button (click)="handleLogin(true)">Login</button>
  }
</div>

<hr />

<h1>Toggle Hide and Show Fuction</h1>
@if (show()) {
  <button (click)="show.set(false)">Hide</button>
} @else {
  <button (click)="show.set(true)">Show</button>
}


<hr/>

<h1>Check Status Functionality</h1>

<select (change)="handleStatus($event)" id="">
  <option value="Not Started">Not Started Yet</option>
  <option value="Started">Started</option>
  <option value="In Progress">In Progress</option>
  <option value="Completed">Completed</option>
  <option value="Canclelled">Canclelled</option>
</select>

@if(status() == "Not Started"){
  <span>Not Started Yet</span>
}
@else if(status() == "Started"){
  <span style="color: aqua;">Started</span>
}
@else if(status() == "In Progress"){
  <span style="color: blue;">In Progress</span>
}
@else if(status() == "Completed"){
  <span style="color: green;">Completed</span>
}
@else if(status() == "Canclelled"){
  <span style="color: red;">Canclelled</span>
} -->

<!-- <h2>For | Control Statement</h2>

<div>
  <ul>
    @for (user of users(); track user) {
      <li>{{ user }}</li>
    }
  </ul>
</div>

<hr />

<ul>
  @for (user of usersDetails(); track user.id) {
    <li [style.backgroundColor]="$odd ? '#ccc' : '#fff'">
      <span>{{ $index + 1 }} {{ user.name + ' ' + user.surname }}</span>
      @if ($first) {
        <span style="color: red"> Admin </span>
      }@if ($last) {
        <span style="color: orange;"> Guest </span>
      }
    </li>
    <span>@if($count==$index+1){
    <span><b> Total Users</b>     {{$count}}</span>  
    }</span>
  }
</ul> -->

<h1>Switch Case Statements</h1>

<select (change)="handleSwitchStates($event)" id="">
  <option value="notStarted"> Not Started Yet </option>
  <option value="inProgress"> working in Progress </option>
  <option value="Sucess"> Sucessfull </option>
  <option value="fail">Failed</option>
  <option value="error">Error</option>
</select>

@switch (status()) {
  @case ('notStarted') {
    <span style="color: aquamarine;">No Update yet</span>
  }
   @case ('inProgress') {
    <span style="color: orange;">working in Progress</span>
  }
   @case ('Sucess') {
    <span style="color: green;">Sucessfull</span>
  }
   @case ('fail') {
    <span style="color: red;">Failed</span>
  }
  @default {
    <span style="color: darkred;">Error</span>
  }
}